In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [30]:
#my property

# df1 = pd.read_csv('myproperty-03-05-23.csv');
# df2 = pd.read_csv('myproperty-03-08-23.csv');
# df3 = pd.read_csv('myproperty-03-09-23.csv');
# df4 = pd.read_csv('myproperty-03-10-23.csv');
# df5 = pd.read_csv('myproperty-03-11-23.csv');
# df6 = pd.read_csv('myproperty-03-17-23.csv');
# df7 = pd.read_csv('myproperty-03-18-23.csv');

In [31]:
#lamudi

# df1 = pd.read_csv('lamudi-03-03-23.csv');
# df2 = pd.read_csv('lamudi-03-04-23.csv');
# df3 = pd.read_csv('lamudi-03-05-23.csv');
# df4 = pd.read_csv('lamudi-03-08-23.csv');
# df5 = pd.read_csv('lamudi-03-09-23.csv');
# df6 = pd.read_csv('lamudi-03-10-23.csv');
# df7 = pd.read_csv('lamudi-03-11-23.csv');
# df8 = pd.read_csv('lamudi-03-17-23.csv');
# df9 = pd.read_csv('lamudi-03-18-23.csv');

In [32]:
# dotproperty

df1 = pd.read_csv('dotproperty-03-04-23.csv');
df2 = pd.read_csv('dotproperty-03-05-23.csv');
df3 = pd.read_csv('dotproperty-03-08-23.csv');
df4 = pd.read_csv('dotproperty-03-09-23.csv');
df5 = pd.read_csv('dotproperty-03-11-23.csv');
df6 = pd.read_csv('dotproperty-03-17-23.csv');

In [33]:
# dfs = [df1,df2,df3,df4,df5,df6,df7]
# to_append = ['df2','df3','df4','df5','df6','df7']

In [34]:
# print(len(to_append))

In [35]:
df_new = df1.copy()

In [36]:
# for x in to_append:
#     df_new.append(x)

In [37]:
df_new.append(df2,ignore_index = True)

C:\Users\win10\AppData\Local\Temp\ipykernel_9028\24348522.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new.append(df2,ignore_index = True)

,Unnamed: 0,name,location,desc,accomodation,price
0,0,2-Bedroom Furnished Apartment for Rent in Bana...,Cebu City\n ...,Property Type: Apartment for RentLocation: Ban...,"['<i class=""icon icon-bedroom""></i> : 2']","₱ 35,000 / month\nNew listing"
1,1,Very Affordable Semi Furnished Apartment for r...,Cebu City\n ...,Location: Banawa Cebu CityVery Affordable Semi...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 12,000 / month\nNew listing"
2,2,Affordable Semi Furnished Apartment for rent i...,Cebu City\n ...,Location: Banawa Cebu CityAffordable Semi Furn...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 12,000 / month\nNew listing"
3,3,2- Bedroom Apartment with Own Gate and Garage ...,"Angeles\n ,...","Rent/ Month: Php 35,000Details:90 sqm more or ...","['<i class=""icon icon-bedroom""></i> : 2']","₱ 35,000 / month"
4,4,Most Affordable 2 Bedroom Apartment for rent i...,Cebu City\n ...,Location: Banawa Cebu City2 Bedroom Apartment ...,"['<i class=""icon icon-bedroom""></i> : 2']","₱ 15,000 / month\nNew listing"
...,...,...,...,...,...,...
1820,920,"LADY BEDSPACE FOR RENT IN AFPOVAI, FORT BONIFA...","Taguig\n , ...","LADY BEDSPACE FOR RENT IN AFPOVAI, FORT BONIFA...","['<i class=""icon icon-bedroom""></i> : 5']","₱ 2,500 / month"
1821,921,Residential/Commercial Building for Lease at S...,Mandaluyong\n ...,Residential Building for Lease in Mandaluyong ...,"['<i class=""icon icon-bedroom""></i> : 43']","₱ 700,000 / month"
1822,922,MACTAN LAPU-LAPU BOUGAINVILLEA Apartment 23 FO...,Lapu-Lapu\n ...,For Rent furnished 25 sqm studio type Bougainv...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 10,000 / month"
1823,923,"1-Bedroom Semi-Furnished Apartment in Banawa, ...",Cebu City\n ...,Property Type: Apartment for RentLocation: nea...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 12,000 / month"
1824,924,For Lease: Brand New Staff House/Condo Bldg 6 ...,"Makati\n , ...",For Lease: Brand New Staff House/Condo Bldg 6 ...,"['<i class=""icon icon-bedroom""></i> : 44']","₱ 1,500,000 / month"

In [38]:
df_new = pd.concat([df1,df2,df3,df4,df5,df6], ignore_index=True)

In [39]:
df_new

,Unnamed: 0,name,location,desc,accomodation,price
0,0,2-Bedroom Furnished Apartment for Rent in Bana...,Cebu City\n ...,Property Type: Apartment for RentLocation: Ban...,"['<i class=""icon icon-bedroom""></i> : 2']","₱ 35,000 / month\nNew listing"
1,1,Very Affordable Semi Furnished Apartment for r...,Cebu City\n ...,Location: Banawa Cebu CityVery Affordable Semi...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 12,000 / month\nNew listing"
2,2,Affordable Semi Furnished Apartment for rent i...,Cebu City\n ...,Location: Banawa Cebu CityAffordable Semi Furn...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 12,000 / month\nNew listing"
3,3,2- Bedroom Apartment with Own Gate and Garage ...,"Angeles\n ,...","Rent/ Month: Php 35,000Details:90 sqm more or ...","['<i class=""icon icon-bedroom""></i> : 2']","₱ 35,000 / month"
4,4,Most Affordable 2 Bedroom Apartment for rent i...,Cebu City\n ...,Location: Banawa Cebu City2 Bedroom Apartment ...,"['<i class=""icon icon-bedroom""></i> : 2']","₱ 15,000 / month\nNew listing"
...,...,...,...,...,...,...
5445,895,Almanza Uno Apartment Room For Rent in Las Piñ...,Las Piñas\n ...,Gated compoundCctvWell ventilated 12 sqm room ...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 5,000 / month"
5446,896,"1BR Apartment for Rent at Infina Towers, Quezo...",Quezon City\n ...,"1BR Apartment for Rent Infina Towers, Quezon C...","['<i class=""icon icon-bedroom""></i> : 1']","₱ 25,000 / month"
5447,897,Apartment Room For Rent at Almanza Uno Las Piñ...,Las Piñas\n ...,Gated compoundCctvWell ventilated 12 sqm room ...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 5,000 / month"
5448,898,"LADY BEDSPACE FOR RENT IN AFPOVAI, FORT BONIFA...","Taguig\n , ...","LADY BEDSPACE FOR RENT IN AFPOVAI, FORT BONIFA...","['<i class=""icon icon-bedroom""></i> : 5']","₱ 2,500 / month"
5449,899,Affordable Room For Rent in Almanza Uno Apartm...,Las Piñas\n ...,Gated compoundCctvWell ventilated 12 sqm room ...,"['<i class=""icon icon-bedroom""></i> : 1']","₱ 5,000 / month"

In [40]:
df_new.shape

(5450, 6)

In [41]:
df_new.duplicated().sum()

1262

In [42]:
import datetime

today_d =  datetime.datetime.now().strftime('%m-%d-%y')
file_name = 'dotproperty-as-of-' + today_d + '.csv';
file_name

'dotproperty-as-of-03-17-23.csv'

In [43]:
from pathlib import Path  
filepath = Path(r'C:\Users\win10\Documents\ATT.FEDM\WEB_CRAWLING\appartment_rental\\'+file_name)  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_new.to_csv(filepath)